// Sass Intro
$primary_1: #a2b9bc;
$primary_2: #b2ad7f;
$primary_3: #878f99;

.main-header{
    background-color: $primary_1; // 인라인 주석 가능
}

.menu-left{
    background-color: $primary_2;
}

.menu-right{
    background-color: $primary_3;
}

// Sass Variables
$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;

body{
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
}

#container{
    width: $myWidth;
}

h1{
    $myColor: green; // 지역 변수
    $myColor: green !global; // !global 전역 변수
    color: $myColor;
}

p{
    color: $myColor;
}

// Sass Nesting
nav{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li{
        display: inline-block;
    }
    a{
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        font: {
            family: Helvetica, sans-serif;
            size: 18px;
            weight: bold;
        }

        text: {
            align:center;
            transform: lowercase;
            overflow: hidden;
        }
    }
}

// Sass @import
@import "reset";
@import "colors";

body{
    color: $myBlue;
}

// Sass @mixin
@mixin important-text{
    color: red;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid blue;
}

.danger{
    @include important-text;
    background-color: green;
}

@mixin bordered($color: blue, $width: 1px){
    border: $width solid $color;
}

.myArticle{
    @include bordered(blue, 1px);
}

.myNotes{
    @include bordered(red, 2px);
}

.myTips{
    @include bordered($color: orange)
}

@mixin transform($property){
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

.myBox{
    @include transform(rotate(20deg));
}

// Sass @extend
.button-basic{
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button-report{
    @extend .button-basic;
    background-color: red;
}

.button-submit{
    @extend .button-basic;
    background-color: green;
    color: white;
}